html, body {
    overflow-x: hidden;
}

#mainContainer {
    text-align: center;
    background-image: url("./Resources/landing_logo.jpg");
    background-size: cover; /* Make the background image cover the entire element */
    min-height: 100vh; /* Set minimum height to cover entire viewport */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0; /* Remove default body margin */
}
nav a{
    text-align:center;
}
.Blur{
      -webkit-filter: blur(5px);
      -moz-filter: blur(5px);
      -o-filter: blur(5px);
      -ms-filter: blur(5px);
      filter: blur(5px);
      background-color: #eee;
    }
    #container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap; /* Allow items to wrap to a new line on smaller screens */
        max-width: 600px; /* Decrease maximum width of container */
        margin: 0 auto; /* Center container horizontally */
    }
    
    .student,
    .driver {
        margin: 30px; /* Adjust margin for spacing */
        transition: background-color 0.3s ease, box-shadow 0.3s ease;
        border-radius: 50%; /* Make the containers circular */
        overflow: hidden;
        animation: pulse 2s infinite alternate;
        flex: 1 1 200px; /* Set flex-grow, flex-shrink, and flex-basis */
        width: 200px; /* Increase width */
        height: 200px; /* Increase height */
    }
    
    
    /* Media Query for smaller screens */
    @media (max-width: 768px) {
        #container {
            flex-direction: column; /* Change flex direction to vertical */
        }
    }
    .navbar-dark .navbar-brand {
        color: #ffc107;
    }
    
    
    
    
    
    

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

a {
    text-decoration: none;
    color: black;
}

img {
    max-width: 100%; /* Ensure image does not exceed container width */
    height: auto; /* Maintain aspect ratio */
    transition: transform 0.3s ease;
}

.student:hover,
.driver:hover {
    background-color: rgba(144, 238, 144, 0.3);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    animation: none;
}

.student:hover img,
.driver:hover img {
    transform: scale(1.1);
}

figcaption {
    transition: color 0.3s ease;
}

.student:hover figcaption,
.driver:hover figcaption {
    color: red;
}

.student,
.driver {
    background-color: rgba(220, 224, 183, 0.967);
    text-align: center;
}
